# dependencies
/node_modules

# build output
/build
/dist
/.next
/out

# misc
.DS_Store
Thumbs.db

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# cache
/.cache
/.temp

# test coverage
/coverage

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

